* {
    transition: 0.2s;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/bg.png);
    background-color: #121212;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-box {
    max-width: 800px;
    padding: 50px 150px;
    background: rgba(61, 61, 61, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    align-content: center;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .main-box {
        padding: 20px;
        backdrop-filter: blur(15px);
    }
}

header {
    text-align: left;
    margin-bottom: 20px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    text-align: center;
    color: #b8b8b8;
}

.profile-info i {
    background: #0056B9;
    background: linear-gradient(to bottom right, #0056B9 50%, #FFD800 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    margin: 0;
    color: #ffffff;
}

p {
    margin: 5px 0;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #ffffff;
}

.technologies, .instruments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technologies img, .instruments img {
    display: block;
    margin: 0 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

a {
    color: #2379db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info-link {
    color: #ebebeb;
    text-decoration: underline;
}

.info-link:hover {
    padding: 5px 7px;
    color: #121212;
    background-color: #e9e9e9;
    text-decoration: none;
    border-radius: 10px;
}

.socials i {
    margin: 0px 10px 0px 10px;
    font-size: 45px;
    text-shadow: 0 0 5px #121212;
    transition: 0.5s;
    color: #fff;
}

.socials i:hover {
    text-shadow: 0 0 7px #e9e9e9;
}

.nav {
    max-width: 800px;
    width: auto;
    padding: 9px 5px;
    margin: 20px;
    background: rgba(61, 61, 61, 0.2);
    border-radius: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    align-content: center;
}

.nav-btn {
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
}

.nav-btn:hover {
    border-radius: 1000px;
    background: rgba(23,119,231,1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-decoration: none;
}
